# MongoDB Connection String
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ThinkGuardDB?retryWrites=true&w=majority

# Server Configuration
NODE_ENV=production
PORT=10000

# JWT Secret (Generate a strong secret)
JWT_SECRET=b1ef1e877cee56be0b2ca5f6153d3fb01ca22a7b7255ea7da3d65d2b7b3c8d4d9a698a244c1e69487608b4cf66a8389b419013e69f113ec0858c53af83d4e4e2

# Gemini AI API Key
GEMINI_API_KEY=AIzaSyAx10ToK4JM4Kp_CKfbwN7Howx12cxxtIk
